.home-container {
  text-align: center;
  margin-top: 80px;

  h1 {
    font-size: 48px;
  }

  .depth-control {
    margin: 25px 0;
  }

  .primary-btn {
    background: #3f51b5;
    color: white;
    padding: 12px 26px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
  }
}

